body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: rgb(167, 183, 188);*/
    
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 15px;
    margin-top: 10px;
    
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    width: 200px;
    border-radius: 50%;
    border: black  2px solid;
}

a:hover {
    text-decoration: rgb(255, 255, 255);
}